services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: nicdb
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p1234"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 30s
  
  backend:
    build: 
      context: ./Backend/nic-validation
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:mysql://mysql:3306/nicdb?createDatabaseIfNotExist=true
      DB_USERNAME: user
      DB_PASSWORD: 1234
    depends_on:
      mysql:
        condition: service_healthy
  
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend